body {
  background: #03185B;
  color: #575F7D;
  font-family: 'Roboto', serif;
  font-size: 17px;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
h2 {
  color: #03185B;
  font-size: 21px;
  font-weight: 600;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #03185B;
  font-weight: 700;
  font-size: 18px;
}
a:hover {
  color: grey;
}


.container {
  width: 900px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}


.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 30px 60px rgba(255,255,255,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}
.img-circle {
  border-radius: 70%;
}
.btn-blue {
  background-color: #03185B;
  color: white;
  padding: 16px 40px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: black;
  color: white;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 12px;
}
.list-inline i {
  font-size: 55px;
  color: #03185B;
}
.list-inline i:hover {
  color: black;
}

#introduction p {
  margin-bottom: 40px;
}